#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <5>;
// | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |                              | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |
// | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |                 		        | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |
// | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |                 			    | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |
// 		         		| SW25 | SW24 | SW23 | SW20 | SW19 |  | SW19 | SW20 | SW23 | SW24 | SW25 |
//               							 | SW22 | SW21 |  | SW21 | SW22 |
        map = <
RC(1,1) RC(1,4) RC(1,3) RC(1,2) RC(2,1) RC(3,1)                 				RC(3,6) RC(2,6) RC(1,7) RC(1,8) RC(1,9) RC(1,6)
RC(1,5) RC(2,4) RC(2,3) RC(2,2) RC(3,2) RC(4,2)                 				RC(4,7) RC(3,7) RC(2,7) RC(2,8) RC(2,9) RC(1,10)
RC(2,5) RC(3,5) RC(3,4) RC(3,3) RC(5,3) RC(5,2)                					RC(5,7) RC(5,8) RC(3,8) RC(3,9) RC(3,10)RC(2,10)
                		RC(5,1) RC(4,1) RC(4,5) RC(4,3)	RC(4,4)	RC(4,9)	RC(4,8) RC(4,10)RC(4,6)	RC(5,6)
                        						RC(5,4) RC(5,5)	RC(4,10)RC(5,9)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 1 from the drawing.
            , <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 2 from the drawing.
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 3 from the drawing.
            , <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 4 from the drawing.
            , <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row 5 from the drawing.
            ;

    };
};